<div class="container">
    <p *ngIf="info" class="alert" [ngClass]="info.alerta">{{info.message}}</p>
</div>
<carta-component
    nomeDoBotao="Pesquisar"
    nomeDaTela="Pesquisar Cartas"
    ehPesquisa="true"
    (aoEmitirCarta)="pesquisar($event)">
</carta-component>
<div class="container mt-4">
    <p class="row alert alert-warning" *ngIf="pesquisado && !cartas">Não foram encontradas cartas para este filtro!</p>
    <div class="row">
        <div class="card col-md-3 mt-2" style="width: 18rem;"  *ngFor="let carta of cartas">
            <img [src]="getLink(carta.classe)" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{carta.nome}}</h5>  
              <p class="card-text">{{carta.descricao}}</p>
              <nav class="d-flex flex-row justify-content-between">
                <button class="btn btn-primary" (click)="detalhe(carta.id)">Detalhes</button>
                <button class="btn btn-danger" (click)="deletar(carta.id)">Excluir</button>
              </nav>
            </div>
        </div>
    </div>
</div>