<form class="container" *ngIf="cartaForm" [formGroup]="cartaForm">
    <header>
        <h1>{{nomeDaTela}}</h1>
        <div class="d-flex flex-row justify-content-end">
            <button *ngIf="ehPesquisa" class="btn btn-secondary mr-2" (click)="limparFormulario()">Limpar</button>
            <button class="btn btn-dark" (click)="emitir()">{{nomeDoBotao}}</button>
        </div>
    </header>

    <label for="informacao"><h2>Informações</h2></label>
    <section class="row" id="informacao">

        <div class="form-group col-md-3 " *ngIf="carta">
            <label><strong>Id</strong></label>
            <input class="form-control" type="text" name="id" id="id" formControlName="id">
        </div>
        <div class="form-group col-md-3 ">
            <label><strong>Nome</strong></label>
            <input class="form-control" type="text" name="nome" id="nome" formControlName="nome">
        </div>
        <div class="form-group col-md-3 ">
            <label><strong>Descrição</strong></label>
            <input class="form-control" type="text" name="descricao" id="descricao" formControlName="descricao">
        </div>

    </section>

    <label for="atributos"><h3>Atributos</h3></label>
    <section class="row" id="atributos">

        <div class="form-group col-md-3 ">
            <label><strong>Ataque</strong></label>
            <select class="form-control" name="ataque" id="ataque" formControlName="ataque">
                <option *ngIf="ehPesquisa" [value]="nulo">Todos</option>
                <option [value]="valor" *ngFor="let valor of valores">{{valor}}</option>
            </select>

        </div>
        <div class="form-group col-md-3 ">
            <label><strong>Defesa</strong></label>
            <select class="form-control" name="defesa" id="defesa" formControlName="defesa">
                <option *ngIf="ehPesquisa" [value]="nulo">Todos</option>
                <option [value]="valor" *ngFor="let valor of valores">{{valor}}</option>
            </select>
        </div>
        <div class="form-group col-md-3 ">
            <label><strong>Tipo</strong></label>
            <select class="form-control" name="tipo" id="tipo" formControlName="tipo">
                <option *ngIf="ehPesquisa" [value]="nulo">Todos</option>
                <option [value]="tipo" *ngFor="let tipo of tipos">{{tipo}}</option>
            </select>
        </div>
        <div class="form-group col-md-3 ">
            <label><strong>Classe</strong></label>
            <select class="form-control" name="classe" id="classe" formControlName="classe">
                <option *ngIf="ehPesquisa" [value]="nulo">Todos</option>
                <option [value]="classe" *ngFor="let classe of classes">{{classe}}</option>
            </select>
        </div>


    </section>


</form>